.DES .description-box{
    display: flex;
    justify-content: space-around;
    
}
.DES .title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 95px;
    text-align: center;
    margin-bottom: 0px;
    
}
.DES .text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    list-style: none;
    margin-left: 16px;
}
.DES .image-box{
    margin-right: -70px;
    margin-top: -180px;
}

.DES .b2{
    display: flex;
}
.b2 .img{
    margin-left: -84px;
    width: 603.27px;
    height: 659.95px;
    
}
.DES .b2 .text{
    margin-top: -40px;
    text-align: right;
    margin-right: 40px;
    /* height: 590px; */
    /* width: 1040px; */
}

.DES .b3 .title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
}
.b3 ul{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;

}
.b3{
    margin-left: 53px;
    margin-right: 121px;
    margin-bottom: 52px;
}